[user]
	name = Carlos E. Garcia
	email = carlos@cgarcia.org
[core]
	editor = vim
	excludesfile = /home/cgar/.gitignore_global
[color]
	ui = true
[push]
	default = simple
[sendemail]
	smtpserver = /usr/bin/msmtp
