# Easier navigation: .., ..., ~ and -
alias ..="cd .."

# The ls family
alias ls='ls'
alias la='ls -Al'

# Distro Related
alias updports='cd /usr/ports && cvs -q up -Pd'
alias updsrc='cd /usr/src && doas cvs -q up -Pd'
alias updxeno='cd /usr/xenocara && doas cvs -q up -Pd'
alias i='doas pkg_add'
alias r='doas pkg_remove'

# Tarsnap
alias tarhome='doas tarsnap -c -f $(date +%F)-home --one-file-system /var/backup/home'
alias tarweekly='doas tarsnap -c -f $(date +%F)-arch-weekly --one-file-system /var/backup/weekly'
alias taretc='doas tarsnap -c -f $(date +%F)-arch-etc --one-file-system /var/backup/etc'
alias tstats='doas tarsnap --print-stats'
alias tlist='doas tarsnap --list-archives'
alias tdel='doas tarsnap -d -f'

# Directories
alias d='cd ~/code'
alias g='cd ~/code/Git'
alias b='cd ~/code/builds'
alias ds='cd ~/code/Git/tiny-scripts'

# Ledger
alias lbal='ledger bal'
alias lprint='ledger print'
alias ledit='vim ~/Documents/ledger/2017.dat'

# Misc
alias getip='curl icanhazip.com'
alias memory='doas python2 ~/code/Git/scripts/memory.py'
alias pong='ping -c3 google.com'
alias pwgen='tr -cd '[:alnum:]' < /dev/urandom | fold -w32 | head -n1'
alias emailsync='offlineimap -o -q -u quiet'
alias tmuxdev='tmux new -s dev'

# Igor by Warren Block
# http://www.wonkity.com/~wblock/igor/
alias igor1='igor -Rs `find * -name "*.*"` | less -Rs'
alias igorxml='igor -Rs `find * -name "*.xml"` | less -RS'
alias igormd='igor -Rs `find * -name "*.md"` | less -RS'
alias igorrs='igor -Rs `find * -name "*.rs"` | less -RS'
alias igorrst='igor -Rs `find * -name "*.rst"` | less -RS'
alias igortex='igor -Rs `find * -name "*.tex"` | less -RS'
alias igortxt='igor -Rs `find * -name "*.txt"` | less -RS'
alias igorhtml='igor -Rs `find * -name "*.html"` | less -RS'
alias igorjson='igor -Rs `find * -name "*.json"` | less -RS'


# Git
alias grau='git remote add upstream'
alias gfm='git fetch upstream; git merge upstream/master'
alias gfm2='git fetch upstream; git merge upstream/devel'
alias gp='git pull'
alias gco='git checkout'
alias gts='git status'

# qemu
alias kvmqemu='qemu-system-x86_64 -m 4G -enable-kvm -cpu host'
